/* Dice icon */
#chat-controls .fa-dice-d20:hover {
  color: #ff9898;
}

/* Grid */
.dice-calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr auto;
  grid-gap: 4px;
  margin-bottom: 8px;
}

.dice-calculator > button,
.dice-calculator .dice-calculator--button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-radius: 2px;
  font-weight: bold;
  font-size: 18px;
  height: 32px;
  line-height: 1;
}

.dice-calculator > button:hover,
.dice-calculator .dice-calculator--button:hover {
  box-shadow: 0 0 5px rgba(255, 0, 0, 0.35);
}

.dice-calculator--light {
  background-color: rgba(0, 0, 0, 0.15);
}

.dice-calculator--dark {
  background-color: rgba(0, 0, 0, 0.3);
  border-color: rgba(125, 125, 125);
}

.dice-calculator--op {
  background-color: rgba(226, 0, 0, .5);
  border-color: rgba(200, 70, 70);
}

.dice-calculator--math {
  background-color: rgba(255, 177, 0, 0.5);
  border-color: rgba(200, 140, 0);
}

.dice-calculator--confirm {
  background-color: rgba(0, 160, 175, 0.5);
  border-color: rgba(4, 135, 144);
}

.dialog--dice-calculator .dialog-button {
  background-color: rgba(76, 177, 0, 0.5);
  border-color: rgba(66, 150, 0);
  font-weight: bold;
  font-size: 18px;
  height: 32px;
  line-height: 1;
  text-transform: uppercase;
}

.dice-calculator--stat,
.dice-calculator--attr,
.dice-calculator--custom {
  text-transform: uppercase;
}

.dice-calculator--stat {
  background-color: rgba(185, 70, 160, 0.5);
  border-color: rgba(140, 45, 165);
}

.dice-calculator--attr {
  background-color: rgba(19, 0, 177, 0.5);
  border-color: rgba(19, 0, 177);
}

.dice-calculator--custom {
  background-color: rgba(145, 75, 235, 0.3);
  border-color: rgba(140, 45, 165);
}

.dice-calculator > .dice-calculator__d2,
.dice-calculator > .dice-calculator__d3 {
  display: none;
}

.dice-calculator__input {
  grid-column-start: 1;
  grid-column-end: span 4;
  grid-row-start: 1;
  grid-row-end: span 2;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.dice-calculator__input-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  flex-grow: 1;
  position: relative;
  text-align: right;
}

.dice-calculator__input > label {
  font-size: 20px;
  padding-right: 12px;
}

.dice-calculator__input-wrapper > textarea {
  font-size: 14px;
  width: auto;
  min-height: 80px;
  flex-grow: 1;
  resize: none;
}

.dice-calculator__rolls--hidden {
  position: absolute;
  background: #ffffff;
  width: 100%;
  left: 0;
  right: 0;
  top: 100%;
  z-index: 10;
  display: none;
}

.dice-calculator__rolls--hidden.visible {
  display: block;
}

.dice-calculator__roll {
  padding: 4px 8px;
  color: #999;
  border: 1px solid #999;
  border-top: 0;
  position: relative;
  z-index: 12;
}

.dice-calculator__roll:hover {
  background-color: #333;
  color: #fff;
}

/* Row 2 */
.dice-calculator__d100 {
  grid-column-start: 1;
  grid-row-start: 3;
}

.dice-calculator__dx {
  grid-column-start: 2;
  grid-row-start: 3;
}

.dice-calculator__del {
  grid-column-start: 3;
  grid-row-start: 3;
}

.dice-calculator__ac {
  grid-column-start: 4;
  grid-row-start: 3;
}

/* Row 3 */
.dice-calculator__d4 {
  grid-column-start: 1;
  grid-row-start: 4;
}

.dice-calculator__d6 {
  grid-column-start: 2;
  grid-row-start: 4;
}

.dice-calculator__d8 {
  grid-column-start: 3;
  grid-row-start: 4;
}

.dice-calculator__div {
  grid-column-start: 4;
  grid-row-start: 4;
}

/* Row 4 */
.dice-calculator__d10 {
  grid-column-start: 1;
  grid-row-start: 5;
}

.dice-calculator__d12 {
  grid-column-start: 2;
  grid-row-start: 5;
}

.dice-calculator__d20 {
  grid-column-start: 3;
  grid-row-start: 5;
}

.dice-calculator__mul {
  grid-column-start: 4;
  grid-row-start: 5;
}

/* Row 5 */
.dice-calculator__7 {
  grid-column-start: 1;
  grid-row-start: 6;
}

.dice-calculator__8 {
  grid-column-start: 2;
  grid-row-start: 6;
}

.dice-calculator__9 {
  grid-column-start: 3;
  grid-row-start: 6;
}

.dice-calculator__min {
  grid-column-start: 4;
  grid-row-start: 6;
}

/* Row 6 */
.dice-calculator__4 {
  grid-column-start: 1;
  grid-row-start: 7;
}

.dice-calculator__5 {
  grid-column-start: 2;
  grid-row-start: 7;
}

.dice-calculator__6 {
  grid-column-start: 3;
  grid-row-start: 7;
}

.dice-calculator__plu {
  grid-column-start: 4;
  grid-row-start: 7;
}

/* Row 7 */
.dice-calculator__1 {
  grid-column-start: 1;
  grid-row-start: 8;
}

.dice-calculator__2 {
  grid-column-start: 2;
  grid-row-start: 8;
}

.dice-calculator__3 {
  grid-column-start: 3;
  grid-row-start: 8;
}

.dice-calculator__kh {
  grid-column-start: 4;
  grid-row-start: 8;
}

/* Row 8 */
.dice-calculator__0 {
  grid-column-start: 1;
  grid-row-start: 9;
}

.dice-calculator__p-left {
  grid-column-start: 2;
  grid-row-start: 9;
}

.dice-calculator__p-right {
  grid-column-start: 3;
  grid-row-start: 9;
}

.dice-calculator__kl {
  grid-column-start: 4;
  grid-row-start: 9;
}

.dice-calculator__actor {
  grid-column-start: 1;
  grid-column-end: span 4;
  grid-row-start: 10;
}

/* Row 9 */
.dice-calculator__btn-group {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 4px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.dice-calculator__btn-group:first-child {
  margin-top: 2px;
}

.dice-calculator__btn-group:last-child {
  padding-bottom: 0;
}

.dice-calculator__actor .dice-calculator--button {
  width: auto;
  flex-grow: 1;
  height: 32px;
  padding: 4px 8px;
  margin: 2px;
  white-space: nowrap;
}

.dice-calculator__btn-group .dice-calculator--button {
  min-width: 20%;
}

.dice-calculator__abil .dice-calculator--button {
  min-width: 0;
}

/* Inline rolls. */
.dc-inline-roll {
  display: inline-block;
  position: relative;
}

.dc-inline-roll__result,
.dc-inline-roll__parts {
  display: inline-block;
  background: rgba(0, 0, 0, 0.75);
  color: #fff;
  padding: 0 4px;
  border-radius: 2px;
}

.dc-inline-roll__parts {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  white-space: nowrap;
  background: rgba(50, 50, 50, 0.75);
  padding: 4px 8px;
  z-index: 999;
}

.dc-inline-roll:hover .dc-inline-roll__parts {
  display: flex;
}

.dc-formula {
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  padding: 4px 0;
  line-height: 1;
}

.dc-parts {
  padding: 8px 0 4px;
  line-height: 1;
}

.dc-discarded {
  opacity: 0.3;
}